<%- model_class = Group -%>

<% @groups.each do |group| %>
    <div class="well">
      <i class="icon-hand-right"></i>
      <%= link_to(group) do %>
          <span><%= group.name %></span>
          <span>(<%= group.shortname %>)</span>
      <% end %>
    </div>
<% end %>
