<%# shows a bar if we are in the valuation period %>

  <div class="alert">
    <strong>Értékelési időszak!</strong>
    <%= link_to "Kattints ide", new_member_valuation_path(@user) %> és tölds ki a féléves ösztöndíj indexed!
  </div>