<div class="row" style="margin-top: 35px;">
  <div class="span2">&nbsp;</div>
  <div class="span6">
    <form class="form-search">
      <div class="input-append controls controls-row">
        <input type="text" class="span5 search-query">
        <button type="submit" class="btn">Keresés</button>
      </div>
    </form>
  </div>
  <div class="span1">&nbsp;</div>
</div>

<div class="row">

  <div class="span2">&nbsp;</div>
  <div class="span6">
    <h3 style="text-align: center;">Egységek</h3>
    <div class="well">
      <%=
          @groups = Group.order(:name)
          render @groups
      %>
    </div>
  </div>
  <div class="span1">&nbsp;</div>
</div>
