<% content_for :stat_sidebar do %>
<%
  @active_members = Membership.active.select(:member_id).uniq
  @old_memberships = Membership.old.select(:member_id).uniq - @active_members
%>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Statisztika</li>
          <li><i class="icon-user"></i> Tagok: <%= @active_members.count %></li>
          <li><i class="icon-heart"></i> Öregtagok: <%= @old_memberships.count %></li>
      </ul>
    </div>
<% end %>

<div class="row" style="margin-top: 35px;">
  <div class="span2">&nbsp;</div>
  <div class="span6">
    <!-- <form class="form-search">
      <div class="input-append controls controls-row">
        <input type="text" class="span5 search-query">
        <button type="submit" class="btn">Keresés</button>
      </div>
    </form> -->
  </div>
  <div class="span1">&nbsp;</div>
</div>

<div class="row">

  <div class="span2">&nbsp;</div>
  <div class="span6">
    <h3 style="text-align: center;">Egységek</h3>
    <div class="well">
      <%=
          @groups = Group.order(:name)
          render @groups
      %>
    </div>
  </div>
  <div class="span1">&nbsp;</div>
</div>
