// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-img {
  width: 100%;
  margin-top: 17px;
  margin-bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.profile-nick {
  text-align: center;
  font-size: 20px;
}

.profile-nick input[type="text"] {
  text-align: center;
}

.profile-nick .best_in_place:hover, .profile-nick .do_hover {
  background: #CCC;
  padding-right: 0.1em;
}

.profile-tagline-label {
  display: inline-block;
}

.profile-tagline {
  margin: 10px;
}

.profile-tagline-content {
  color: gray;
  font-style: italic;
}

#member-data td:first-child {
  width: 150px;
}

#member-data td {
  vertical-align: middle;
  padding: 8px;
  padding-bottom: 6px;
}

#member-data .joblist td {
  vertical-align: top;
}

#member-data input, #member-data input[type="text"] {
  width: 230px;
  margin-bottom: 0px;
}

#member-data input[type=submit], #member-data input[type=button] {
  width: 5em;
}

#member-data input[type=checkbox] {
  width: 1em;
}

#member-data textarea {
  max-height: 15em;
  min-width: 40em;
}

.profile-memberships {
  margin-top: 18px;
}