var error = '<span class="flash-error purr" style="display: block;">'
        + 'Hiba történt a mentés során, kérlek ellenőrizd a bevitt adatokat! (min. 3 karakter)'
        + '</span>';
$(error).purr();
