<div>
  <%=
      best_in_place job, :company, :type => :input, :path => url_for([job.member, job])
  %>
</div>
<div>
  <%=
      best_in_place job, :title, :type => :input, :path => url_for([job.member, job])
  %>
</div>
